@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

.app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.display {
  display: flex;
  font-size: 32px;
  align-items: center;
  justify-content: flex-end;
  color: gray;
  flex: 1;
  padding: 32px;
}

.keyboard {
  border: 1px solid silver;
  display: flex;
  flex: 2;
  flex-direction: row;
}

.numberpad {
  border: 1px solid silver;
  flex: 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.operators {
  border: 1px solid silver;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: none;
  background-color: light-gray;
}

.button:hover {
  background-color: silver;
}

.button:active {
  background-color: gray;
}

.operator {
  background-color: blue;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.operator:hover {
  background-color: royalblue;
}

.operator:active {
  background-color: darkblue;
}